<div class="w-[1440px]">
  <div class="relative">
    <img src="assets/cart/cart-banner.png" alt="" />
    <div
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white w-[227px] text-center"
    >
      <div class="flex text-base justify-center">
        <span class="font-semibold">Trang chủ</span>
        <img src="assets/cart/arrow-right.svg" alt="" class="ml-[6px]" />
        <span class="block ml-[6px]">Giỏ hàng</span>
      </div>
      <span class="block font-semibold text-5xl mt-[2px]">Giỏ hàng</span>
    </div>
  </div>
  <div class="w-[1164px] my-24 bg-white mx-auto">
    <div class="flex justify-between items-start">
      <div class="w-[692px]">
        <span class="font-semibold text-[32px]">THÔNG TIN KHÁCH HÀNG</span>
        <div class="mt-[70px]">
          <div class="h-[160px] flex justify-between">
            <img src="assets/cart/item.png" alt="" class="block" />
            <div class="w-[486px]">
              <span class="font-semibold text-2xl">Sản phẩm 1</span>
              <img src="assets/cart/delete.svg" alt="" class="float-right" />
              <span class="mt-5 text-[20px] font-semibold block text-color-gray"
                >20.000đ</span
              >
              <div
                class="w-[116px] h-[35px] float-left rounded-[35px] border border-color-gray mt-11 relative overflow-hidden"
              >
                <div
                  class="top-0 absolute cursor-pointer h-full py-4 pl-3 pr-1"
                >
                  <img src="assets/cart/sub.svg" alt="" class="" />
                </div>
                <input
                  type="number"
                  value="2"
                  class="h-full ml-11 w-7 text-center outline-none"
                />
                <div
                  class="top-0 right-0 absolute cursor-pointer py-[10px] h-full pl-1 pr-3"
                >
                  <img src="assets/cart/plus.svg" alt="" class="" />
                </div>
              </div>
              <span class="text-2xl font-semibold block mt-12 float-right"
                >40.000đ</span
              >
            </div>
          </div>
        </div>
        <div class="mt-[70px]">
          <div class="h-[160px] flex justify-between">
            <img src="assets/cart/item.png" alt="" class="block" />
            <div class="w-[486px]">
              <span class="font-semibold text-2xl">Sản phẩm 1</span>
              <img src="assets/cart/delete.svg" alt="" class="float-right" />
              <span class="mt-5 text-[20px] font-semibold block text-color-gray"
                >20.000đ</span
              >
              <div
                class="w-[116px] h-[35px] float-left rounded-[35px] border border-color-gray mt-11 relative overflow-hidden"
              >
                <div
                  class="top-0 absolute cursor-pointer h-full py-4 pl-3 pr-1"
                >
                  <img src="assets/cart/sub.svg" alt="" class="" />
                </div>
                <input
                  type="number"
                  value="2"
                  class="h-full ml-11 w-7 text-center outline-none"
                />
                <div
                  class="top-0 right-0 absolute cursor-pointer py-[10px] h-full pl-1 pr-3"
                >
                  <img src="assets/cart/plus.svg" alt="" class="" />
                </div>
              </div>
              <span class="text-2xl font-semibold block mt-12 float-right"
                >40.000đ</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
