<Loomenes-header-navigator></Loomenes-header-navigator>
<div class="w-full font-openSans">
  <div
    class="h-[170px] relative w-full bg-no-repeat bg-cover bg-center bg-[url('assets/blog/Blog_imga.svg')] sm:h-[240px] xl:h-[320px]"
  >
    <div class="bg-black w-full h-full absolute top-0 opacity-20"></div>
    <span
      class="block absolute font-extrabold text-[32px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white sm:hidden"
      >BÀI VIẾT</span
    >
    <div
      class="hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center absolute sm:block"
    >
      <div class="flex justify-center">
        <span class="font-semibold cursor-pointer">Trang chủ</span>
        <img src="assets/cart/arrow-right.svg" alt="" class="ml-1" />
        <span class="block ml-1">Bài viết</span>
      </div>
      <div class="font-semibold text-[32px] mt-1 xl:text-[48px]">Bài viết</div>
    </div>
  </div>
  <!-- Div_tong_Tablet -->
  <div
    class="px-[60px] mt-[60px] w-full justify-between xl:hidden hidden sm:flex"
  >
    <div class="w-[556px]">
      <p class="font-bold text-[24px]">Phổ biến</p>

      <div>
        <img src="assets/Tablet/ganday1_tab.svg" alt="" class="mt-[20px]" />
        <div class="w-[224px] flex mt-[14px] justify-between">
          <div class="w-[80px] flex">
            <img src="assets/Tablet/Vector1.svg" alt="" />
            <p class="ml-[7px] text-base text-[#9F9F9F]">Admin</p>
          </div>
          <div class="w-[121px] flex">
            <img src="assets/Tablet/Vector2.svg" alt="" />
            <p class="ml-[7px] text-base text-[#9F9F9F]">14 Oct 2022</p>
          </div>
        </div>
        <h1 class="font-semibold text-[24px] mt-[14px]">
          Vệ sinh chuyên sâu đôi giày của bạn
        </h1>
        <p
          class="text-gray-400 text-[16px] mt-[14px] overflow-hidden h-[240px]"
          id="baivietphobien1"
        >
          Đôi giày không chỉ là phần của trang phục mà còn là biểu tượng cá nhân
          của chúng ta. Để giữ cho đôi giày luôn sạch sẽ, bền đẹp và tự tin mỗi
          khi mang đi bước chân, việc thực hiện vệ sinh chuyên sâu đôi giày là
          cực kỳ quan trọng. <br />
          Bước đầu tiên của việc vệ sinh chuyên sâu là loại bỏ bụi và bẩn từ bề
          mặt. Dùng một bàn chải mềm hoặc khăn khô để nhẹ nhàng lau sạch mọi vết
          bẩn, đồng thời loại bỏ cặn bẩn từ các khe hở hay các góc khuất của
          giày. Sau đó, chúng ta tiến hành làm sạch bề mặt của đôi giày. <br />
          Sử dụng khăn ẩm hoặc bông mềm được ngâm trong nước ấm để lau sạch từng
          phần của giày. Đối với vết bẩn cứng đầu, có thể sử dụng một ít xà
          phòng nhẹ hoặc sản phẩm vệ sinh giày chuyên dụng để giúp làm sạch hiệu
          quả hơn. <br />
          Đế giày, nơi tiếp xúc trực tiếp với mặt đất, cần được làm sạch cẩn
          thận. Sử dụng bàn chải hoặc bông lau để loại bỏ vết bẩn cứng đầu trên
          đế giày. Nếu có vết nhọt hay vật thể lạ dính vào đế, hãy loại bỏ chúng
          cẩn thận để giữ cho đế giày luôn sạch và bền bỉ. <br />
          Sau khi làm sạch, hãy để đôi giày tự nhiên khô hoặc sử dụng miếng vải
          khô để lau khô chúng. Tránh phơi giày trực tiếp dưới ánh nắng mặt trời
          hoặc các nguồn nhiệt khác có thể làm hỏng vật liệu của giày. Cuối
          cùng, khi đã làm sạch và khô, hãy bảo quản đôi giày của bạn ở nơi
          thoáng đãng, khô ráo và tránh đặt chúng trong môi trường ẩm ướt hoặc
          có nhiệt độ cao.
          <br />
          Nhớ rằng việc vệ sinh định kỳ sẽ giữ cho đôi giày của bạn luôn ở trạng
          thái tốt nhất có thể. Điều này không chỉ giữ cho chúng sạch sẽ mà còn
          kéo dài tuổi thọ và giữ được vẻ đẹp tự nhiên của chúng. Chăm sóc và vệ
          sinh đúng cách sẽ giúp bạn luôn tự tin mỗi khi bước ra ngoài cùng đôi
          giày yêu thích của mình
        </p>
        <span
          #xemThem
          class="block mt-[10px] hover:underline cursor-pointer"
          (click)="onExpandPara(xemThem)"
          >Xem thêm</span
        >
      </div>

      <div class="">
        <img src="assets/Tablet/ganday2_tab.svg" alt="" class="mt-[60px]" />
        <div class="w-[224px] flex mt-[14px] justify-between">
          <div class="w-[80px] flex">
            <img src="assets/Tablet/Vector1.svg" alt="" />
            <p class="ml-[7px] text-base text-[#9F9F9F]">Admin</p>
          </div>
          <div class="w-[121px] flex">
            <img src="assets/Tablet/Vector2.svg" alt="" />
            <p class="ml-[7px] text-base text-[#9F9F9F]">14 Oct 2022</p>
          </div>
        </div>
        <h1 class="font-semibold text-[24px] mt-[14px]">
          Vệ sinh chuyên sâu đôi giày của bạn
        </h1>
        <p class="text-gray-400 text-[16px] mt-[14px]">
          Đôi giày không chỉ là phần của trang phục mà còn là biểu tượng cá nhân
          của chúng ta. Để giữ cho đôi giày luôn sạch sẽ, bền đẹp và tự tin mỗi
          khi mang đi bước chân, việc thực hiện vệ sinh chuyên sâu đôi giày là
          cực kỳ quan trọng. <br />
          Bước đầu tiên của việc vệ sinh chuyên sâu là loại bỏ bụi và bẩn từ bề
          mặt. Dùng một bàn chải mềm hoặc khăn khô để nhẹ nhàng lau sạch mọi vết
          bẩn, đồng thời loại bỏ cặn bẩn từ các khe hở hay các góc khuất của
          giày. Sau đó, chúng ta tiến hành làm sạch bề mặt của đôi giày. <br />
          Sử dụng khăn ẩm hoặc bông mềm được ngâm trong nước ấm để lau sạch từng
          phần của giày. Đối với vết bẩn cứng đầu, có thể sử dụng một ít xà
          phòng nhẹ hoặc sản phẩm vệ sinh giày chuyên dụng để giúp làm sạch hiệu
          quả hơn. <br />
          Đế giày, nơi tiếp xúc trực tiếp với mặt đất, cần được làm sạch cẩn
          thận. Sử dụng bàn chải hoặc bông lau để loại bỏ vết bẩn cứng đầu trên
          đế giày. Nếu có vết nhọt hay vật thể lạ dính vào đế, hãy loại bỏ chúng
          cẩn thận để giữ cho đế giày luôn sạch và bền bỉ. <br />
          Sau khi làm sạch, hãy để đôi giày tự nhiên khô hoặc sử dụng miếng vải
          khô để lau khô chúng. Tránh phơi giày trực tiếp dưới ánh nắng mặt trời
          hoặc các nguồn nhiệt khác có thể làm hỏng vật liệu của giày. Cuối
          cùng, khi đã làm sạch và khô, hãy bảo quản đôi giày của bạn ở nơi
          thoáng đãng, khô ráo và tránh đặt chúng trong môi trường ẩm ướt hoặc
          có nhiệt độ cao.
          <br />
          Nhớ rằng việc vệ sinh định kỳ sẽ giữ cho đôi giày của bạn luôn ở trạng
          thái tốt nhất có thể. Điều này không chỉ giữ cho chúng sạch sẽ mà còn
          kéo dài tuổi thọ và giữ được vẻ đẹp tự nhiên của chúng. Chăm sóc và vệ
          sinh đúng cách sẽ giúp bạn luôn tự tin mỗi khi bước ra ngoài cùng đôi
          giày yêu thích của mình
        </p>
      </div>

      <img src="assets/blognew/Group 348 1.png" alt="" class="mt-[60px] ml-[116px]" />
    </div>

    <div class="w-[296px] mt-[50px]">
      <label class="relative block">
        <img
          src="assets/Tablet/iconsearch_tab.svg"
          alt=""
          class="absolute -translate-y-1/2 top-1/2 ml-[250px]"
        />
        <input
          type="text"
          class="h-[52px] w-full border rounded-[10px] play placeholder:text-slate-400 pl-[22px]"
          placeholder="Tìm kiếm"
        />
      </label>
      <div class="mt-[20px] flex flex-wrap justify-center">
        <h1 class="font-bold text-[24px] w-full text-center">Follow Us</h1>
        <div class="flex w-full justify-between mt-[14px]">
          <img src="assets/Tablet/iconfb_tab.svg" alt="" class="" />
          <img src="assets/Tablet/iconig_tab.svg" alt="" class="" />
          <img src="assets/Tablet/iconytb_tab.svg" alt="" class="" />
        </div>
      </div>
      <h2 class="mt-[70px] font-semibold text-[24px]">Bài viết gần đây</h2>

      <div
        class="flex mt-[12px] w-full h-[92px] bg-zinc-50 rounded-xl justify-between"
      >
        <div class="w-[76px] flex">
          <img src="assets/Tablet/bvganday1.svg" alt="" class="ml-[15px]" />
        </div>
        <div class="w-[190px] mt-[5px]">
          <p class="text-[14px] font-semibold">Các mẫu giày Tây thường gặp?</p>
          <div class="w-full flex justify-between mt-[15px]">
            <div class="w-[60px] flex">
              <img src="assets/Tablet/Vector1.svg" alt="" />
              <p class="ml-[7px] text-[12px]">Admin</p>
            </div>
            <div class="w-[110px] flex">
              <img src="assets/Tablet/Vector2.svg" alt="" />
              <p class="ml-[7px] text-[12px]">03 Aug 2022</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex mt-[20px] w-full h-[92px] rounded-xl justify-between">
        <div class="w-[76px] flex">
          <img src="assets/blog/dungdichvsgiay.svg" alt="" class="ml-[15px]" />
        </div>
        <div class="w-[190px] mt-[5px]">
          <p class="text-[14px] font-semibold">
            4 loại nước giặt ai cũng nên có?
          </p>
          <div class="w-full flex justify-between mt-[15px]">
            <div class="w-[60px] flex">
              <img src="assets/Tablet/Vector1.svg" alt="" />
              <p class="ml-[7px] text-[12px]">Admin</p>
            </div>
            <div class="w-[110px] flex">
              <img src="assets/Tablet/Vector2.svg" alt="" />
              <p class="ml-[7px] text-[12px]">03 Aug 2022</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex mt-[20px] w-full h-[92px] bg-zinc-50 rounded-xl justify-between"
      >
        <div class="w-[76px] flex">
          <img src="assets/blog/ddvs1.svg" alt="" class="ml-[15px]" />
        </div>
        <div class="w-[190px] mt-[5px]">
          <p class="text-[14px] font-semibold">
            Những điều bạn chưa biết về chai vệ sinh giày?
          </p>
          <div class="w-full flex justify-between mt-[15px]">
            <div class="w-[60px] flex">
              <img src="assets/Tablet/Vector1.svg" alt="" />
              <p class="ml-[7px] text-[12px]">Admin</p>
            </div>
            <div class="w-[110px] flex">
              <img src="assets/Tablet/Vector2.svg" alt="" />
              <p class="ml-[7px] text-[12px]">03 Aug 2022</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex mt-[20px] w-full h-[92px] rounded-xl justify-between">
        <div class="w-[76px] flex">
          <img src="assets/blog/Tet.svg" alt="" class="ml-[15px]" />
        </div>
        <div class="w-[190px] mt-[5px]">
          <p class="text-[14px] font-semibold">
            Lịch hoạt động tết Nguyên đán 2024
          </p>
          <div class="w-full flex justify-between mt-[15px]">
            <div class="w-[60px] flex">
              <img src="assets/Tablet/Vector1.svg" alt="" />
              <p class="ml-[7px] text-[12px]">Admin</p>
            </div>
            <div class="w-[110px] flex">
              <img src="assets/Tablet/Vector2.svg" alt="" />
              <p class="ml-[7px] text-[12px]">03 Aug 2022</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center mt-[20px]">
        <img src="assets/blog/xemthembt2.svg" alt="" class="" />
      </div>
    </div>
  </div>
  <!-- pageBlogAll -->

  <!-- Div_tong_PC -->
  <div class="px-[138px] justify-between hidden xl:flex">
    <div class="w-[692px] mt-[100px]">
      <h1 class="font-bold text-[32px]">Phổ biến</h1>
      <div class="mt-[30px]">
        <img src="assets/PC/Ganday1_pc.svg" alt="" />

        <div class="w-[402px] flex justify-between mt-[20px]">
          <div class="w-[112px] flex">
            <img src="assets/PC/admin_pc.svg" alt="" />
            <p class="ml-[12px] text-[20px] text-[#9F9F9F]">Admin</p>
          </div>
          <div class="w-[168px] flex">
            <img src="assets/PC/lich_pc.svg" alt="" />
            <p class="ml-[12px] text-[20px] text-[#9F9F9F]">14 Oct 2022</p>
          </div>
        </div>
        <h2 class="font-semibold text-[28px] mt-[20px]">
          Vệ sinh chuyên sâu đôi giày của bạn
        </h2>
        <p class="text-gray-400 text-[16px] mt-[14px]">
          Đôi giày không chỉ là phần của trang phục mà còn là biểu tượng cá nhân
          của chúng ta. Để giữ cho đôi giày luôn sạch sẽ, bền đẹp và tự tin mỗi
          khi mang đi bước chân, việc thực hiện vệ sinh chuyên sâu đôi giày là
          cực kỳ quan trọng. <br />
          Bước đầu tiên của việc vệ sinh chuyên sâu là loại bỏ bụi và bẩn từ bề
          mặt. Dùng một bàn chải mềm hoặc khăn khô để nhẹ nhàng lau sạch mọi vết
          bẩn, đồng thời loại bỏ cặn bẩn từ các khe hở hay các góc khuất của
          giày. Sau đó, chúng ta tiến hành làm sạch bề mặt của đôi giày. <br />
          Sử dụng khăn ẩm hoặc bông mềm được ngâm trong nước ấm để lau sạch từng
          phần của giày. Đối với vết bẩn cứng đầu, có thể sử dụng một ít xà
          phòng nhẹ hoặc sản phẩm vệ sinh giày chuyên dụng để giúp làm sạch hiệu
          quả hơn. <br />
          Đế giày, nơi tiếp xúc trực tiếp với mặt đất, cần được làm sạch cẩn
          thận. Sử dụng bàn chải hoặc bông lau để loại bỏ vết bẩn cứng đầu trên
          đế giày. Nếu có vết nhọt hay vật thể lạ dính vào đế, hãy loại bỏ chúng
          cẩn thận để giữ cho đế giày luôn sạch và bền bỉ. <br />
          Sau khi làm sạch, hãy để đôi giày tự nhiên khô hoặc sử dụng miếng vải
          khô để lau khô chúng. Tránh phơi giày trực tiếp dưới ánh nắng mặt trời
          hoặc các nguồn nhiệt khác có thể làm hỏng vật liệu của giày. Cuối
          cùng, khi đã làm sạch và khô, hãy bảo quản đôi giày của bạn ở nơi
          thoáng đãng, khô ráo và tránh đặt chúng trong môi trường ẩm ướt hoặc
          có nhiệt độ cao.
          <br />
          Nhớ rằng việc vệ sinh định kỳ sẽ giữ cho đôi giày của bạn luôn ở trạng
          thái tốt nhất có thể. Điều này không chỉ giữ cho chúng sạch sẽ mà còn
          kéo dài tuổi thọ và giữ được vẻ đẹp tự nhiên của chúng. Chăm sóc và vệ
          sinh đúng cách sẽ giúp bạn luôn tự tin mỗi khi bước ra ngoài cùng đôi
          giày yêu thích của mình
        </p>
      </div>
      <br />
      <hr width="50%" />

      <div class="mt-[60px]">
        <img src="assets/PC/ganday2_pc.svg" alt="" />

        <div class="w-[402px] flex justify-between mt-[20px]">
          <div class="w-[112px] flex">
            <img src="assets/PC/admin_pc.svg" alt="" />
            <p class="ml-[12px] text-[20px] text-[#9F9F9F]">Admin</p>
          </div>
          <div class="w-[168px] flex">
            <img src="assets/PC/lich_pc.svg" alt="" />
            <p class="ml-[12px] text-[20px] text-[#9F9F9F]">14 Oct 2022</p>
          </div>
        </div>
        <h2 class="font-semibold text-[28px] mt-[20px]">
          Hướng dẫn về cách vệ sinh giày Sneaker của bạn
        </h2>
        <p class="text-gray-400 text-[16px] mt-[14px]">
          Đôi giày không chỉ là phần của trang phục mà còn là biểu tượng cá nhân
          của chúng ta. Để giữ cho đôi giày luôn sạch sẽ, bền đẹp và tự tin mỗi
          khi mang đi bước chân, việc thực hiện vệ sinh chuyên sâu đôi giày là
          cực kỳ quan trọng. <br />
          Bước đầu tiên của việc vệ sinh chuyên sâu là loại bỏ bụi và bẩn từ bề
          mặt. Dùng một bàn chải mềm hoặc khăn khô để nhẹ nhàng lau sạch mọi vết
          bẩn, đồng thời loại bỏ cặn bẩn từ các khe hở hay các góc khuất của
          giày. Sau đó, chúng ta tiến hành làm sạch bề mặt của đôi giày. <br />
          Sử dụng khăn ẩm hoặc bông mềm được ngâm trong nước ấm để lau sạch từng
          phần của giày. Đối với vết bẩn cứng đầu, có thể sử dụng một ít xà
          phòng nhẹ hoặc sản phẩm vệ sinh giày chuyên dụng để giúp làm sạch hiệu
          quả hơn. <br />
          Đế giày, nơi tiếp xúc trực tiếp với mặt đất, cần được làm sạch cẩn
          thận. Sử dụng bàn chải hoặc bông lau để loại bỏ vết bẩn cứng đầu trên
          đế giày. Nếu có vết nhọt hay vật thể lạ dính vào đế, hãy loại bỏ chúng
          cẩn thận để giữ cho đế giày luôn sạch và bền bỉ. <br />
          Sau khi làm sạch, hãy để đôi giày tự nhiên khô hoặc sử dụng miếng vải
          khô để lau khô chúng. Tránh phơi giày trực tiếp dưới ánh nắng mặt trời
          hoặc các nguồn nhiệt khác có thể làm hỏng vật liệu của giày. Cuối
          cùng, khi đã làm sạch và khô, hãy bảo quản đôi giày của bạn ở nơi
          thoáng đãng, khô ráo và tránh đặt chúng trong môi trường ẩm ướt hoặc
          có nhiệt độ cao.
          <br />
          Nhớ rằng việc vệ sinh định kỳ sẽ giữ cho đôi giày của bạn luôn ở trạng
          thái tốt nhất có thể. Điều này không chỉ giữ cho chúng sạch sẽ mà còn
          kéo dài tuổi thọ và giữ được vẻ đẹp tự nhiên của chúng. Chăm sóc và vệ
          sinh đúng cách sẽ giúp bạn luôn tự tin mỗi khi bước ra ngoài cùng đôi
          giày yêu thích của mình
        </p>
      </div>
      <br />
      <hr width="50%" />

      <div class="w-full justify-center flex mt-[100px]">
        <img src="assets/PC/nextpage_pc.svg" alt="" />
      </div>
    </div>

    <div class="w-[337px] mt-[175px]">
      <label class="relative">
        <img
          class="absolute top-1/2 -translate-y-1/2 right-4"
          src="assets/blog/Icon_search.svg"
          alt=""
        />
        <input
          type="text"
          class="h-[52px] w-full border rounded-lg play placeholder:text-slate-400 pl-3"
          placeholder="Tìm kiếm"
          name="search"
        />
      </label>
      <div class="w-full justify-center flex mt-[40px]">
        <h1 class="font-bold text-[32px]">Follow Us</h1>
      </div>

      <div class="flex w-full justify-between mt-[30px]">
        <img class="" src="assets/PC/iconfb_pc.svg" alt="" />
        <img class="" src="assets/PC/iconig_pc.svg" alt="" />
        <img class="" src="assets/PC/iconytb_pc.svg" alt="" />
      </div>

      <div class="mt-[100px]">
        <h2 class="font-semibold text-[28px]">Các bài viết gần đây</h2>

        <div
          class="bg-[#FAFAFA] h-[100px] rounded-[10px] flex justify-between mt-[40px]"
        >
          <div class="w-[100px]">
            <img
              src="assets/PC/bvganday1_pc.svg"
              alt=""
              class="ml-[10px] mt-[10px]"
            />
          </div>
          <div class="w-[220px] mt-[10px]">
            <p class="mr-[5px] text-[16px]">Các mẫu giày Tây thường gặp</p>
            <div class="flex justify-between mt-[10px]">
              <div class="w-[68px] flex ]">
                <img src="assets/PC/admin_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">Admin</p>
              </div>
              <div class="w-[105px] flex mr-[10px]">
                <img src="assets/PC/lich_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">03 Aug 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="h-[100px] rounded-[10px] flex justify-between mt-[40px]">
          <div class="w-[100px]">
            <img
              src="assets/PC/bvganday2_pc.svg"
              alt=""
              class="ml-[10px] mt-[10px]"
            />
          </div>
          <div class="w-[220px] mt-[10px]">
            <p class="mr-[5px] text-[16px]">4 loại nước giặt ai cũng nên có</p>
            <div class="flex justify-between mt-[10px]">
              <div class="w-[68px] flex ]">
                <img src="assets/PC/admin_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">Admin</p>
              </div>
              <div class="w-[105px] flex mr-[10px]">
                <img src="assets/PC/lich_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">03 Aug 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-[#FAFAFA] h-[100px] rounded-[10px] flex justify-between mt-[40px]"
        >
          <div class="w-[100px]">
            <img
              src="assets/PC/bvganday3_pc.svg"
              alt=""
              class="ml-[10px] mt-[10px]"
            />
          </div>
          <div class="w-[220px] mt-[10px]">
            <p class="mr-[5px] text-[16px]">
              Những điều bạn chưa biết về chai vệ sinh giày?
            </p>
            <div class="flex justify-between mt-[10px]">
              <div class="w-[68px] flex ]">
                <img src="assets/PC/admin_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">Admin</p>
              </div>
              <div class="w-[105px] flex mr-[10px]">
                <img src="assets/PC/lich_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">03 Aug 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="h-[100px] rounded-[10px] flex justify-between mt-[40px]">
          <div class="w-[100px]">
            <img
              src="assets/PC/bvganday4_pc.svg"
              alt=""
              class="ml-[10px] mt-[10px]"
            />
          </div>
          <div class="w-[220px] mt-[10px]">
            <p class="mr-[5px] text-[16px]">
              Lịch hoạt động Tết Nguyên đán 2024
            </p>
            <div class="flex justify-between mt-[10px]">
              <div class="w-[68px] flex ]">
                <img src="assets/PC/admin_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">Admin</p>
              </div>
              <div class="w-[105px] flex mr-[10px]">
                <img src="assets/PC/lich_ganday_pc.svg" alt="" class="" />
                <p class="ml-[7px] text-[14px] text-[#9F9F9F]">03 Aug 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center">
        <img src="assets/PC/xemthem_pc.svg" alt="" class="mt-[40px]" />
      </div>
    </div>
  </div>

  <Loomenes-footer></Loomenes-footer>
</div>
