<Loomenes-header-navigator></Loomenes-header-navigator>
<!--Mobile-->
<div class="w-full font-openSans text-[12px] sm:hidden">
  <div
    class="h-[170px] relative w-full bg-no-repeat bg-cover bg-center bg-[url('assets/introduce/introduce.svg')] sm:h-[240px] xl:h-[320px]"
  >
    <div class="bg-black w-full h-full absolute top-0 opacity-20"></div>
    <span
      class="block absolute font-extrabold text-[32px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white sm:hidden"
      >GIỚI THIỆU</span
    >
    <div
      class="hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center absolute sm:block"
    >
      <div class="flex justify-center">
        <span [routerLink]="['/home-page']" class="font-semibold cursor-pointer"
          >Trang chủ</span
        >
        <img src="assets/cart/arrow-right.svg" alt="" class="ml-1" />
        <span class="block ml-1">Giới thiệu</span>
      </div>
      <div class="font-semibold text-[32px] mt-1 xl:text-[48px]">
        Giới thiệu
      </div>
    </div>
  </div>

  <div class="flex flex-col h-[507px]">
    <div class="ml-[18px]">
      <h6 class="mt-[33px] font-bold text-[20px]">
        Câu chuyện và sứ mệnh,<br />
        thương hiệu <span class="font-playfairDisplay">ˈloomənəs</span>
      </h6>
      <p class="text-[12px] mt-[18px]">
        Là một spa chuyên nghiệp với dịch vụ chăm sóc và sửa chữa<br />
        những đôi giày với kỹ thuật tay nghề cao, sự tỉ mỉ trong từng<br />chi
        tiết để mang lại chất lượng phục vụ tốt nhất. Chúng tôi<br />
        đang có các dịch vụ:
      </p>
    </div>
    <div class="text-[12px] mt-[38px] ml-[18px]">
      <div class="flex items-center">
        <p>✓</p>
        <p class="ml-[12.7px]">
          Vệ sinh giày bằng tay với hệ thống chiếu UV +<br />hông khô hiện đại
        </p>
      </div>
      <div class="mt-[39px] flex items-center">
        <p>✓</p>
        <p class="ml-[12.7px]">
          Custom giày theo mẫu riêng biệt tùy vào yêu cầu
        </p>
      </div>
      <div class="mt-[43px] flex items-center">
        <p>✓</p>
        <p class="ml-[12.7px]">
          Bảo dưỡng sửa chữa, dán đế và nhiều dịch vụ<br />
          chuyên dụng
        </p>
      </div>
      <div class="mt-[42px] flex items-center">
        <p>✓</p>
        <p class="ml-[12.7px]">
          Cung cấp các sản phẩm vệ sinh giày chuyên dụng
        </p>
      </div>
    </div>
  </div>

  <div class="bg-[#F6F6F6] flex flex-col items-center h-[565px]">
    <h6 class="text-[20px] font-bold mt-[28px]">Chúng tôi cam kết</h6>
    <img class="mt-[29px]" src="assets/introduce/anh1.svg" />
    <div>
      <div class="flex gap-[50px] items-center mt-[46px]">
        <div class="flex items-center">
          <p>✓</p>
          <p class="ml-[15.7px]">Kỹ thuật tay cao tỷ mỉ</p>
        </div>
        <div class="flex items-center">
          <p>✓</p>
          <p class="ml-[15.7px]">Bảo hành tuyệt đối</p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex gap-[39px] items-center mt-[44px]">
        <div class="flex items-center">
          <p>✓</p>
          <p class="ml-[15.7px] w-[130px]">
            Dung dịch vệ sinh chọn lọc chất lượng
          </p>
        </div>
        <div class="flex items-center">
          <p>✓</p>
          <p class="ml-[15.7px] w-[105px]">Cung cấp các sản phẩm chính hãng</p>
        </div>
      </div>
    </div>
    <div>
      <div class="flex items-center mt-[46px]">
        <p>✓</p>
        <p class="ml-[15.7px]">Free ship và luôn sẵng lòng phục vụ</p>
      </div>
    </div>
    <img class="mt-[55px]" src="assets/introduce/anh2.svg" />
  </div>
  <div>
    <h6 class="font-bold text-[20px] mt-[45px] ml-[25px]">
      Trải nghiệm của một đôi giày<br />
      ngay tại
      <span class="font-playfairDisplay">ˈloomənəs</span>
    </h6>
    <p class="mt-[15px] ml-[25px]">
      Vệ sinh và chăm sóc giày là một công việc đòi hỏi người <br />
      thực hiện am hiểu các chất liệu, kết cấu của giày và dành <br />
      cho giày sự trân trọng cần thiết . Bằng niềm yêu thích đối,<br />
      với văn hóa giày mà đội ngũ kỹ thuật của Lomenes luôn <br />kỹ lưỡng khi
      cầm trên tay từng chiếc giày.
    </p>
    <div class="w-full flex justify-center mt-[40px]">
      <img src="assets/introduce/video.svg" />
    </div>
    <div class="flex justify-center mt-[34px]">
      <button
        class="bg-[#F2ECBE] w-[240px] h-[55px] rounded-[10px] flex justify-center items-center font-semibold text-[16px]"
        (click)="openVideo('https://youtu.be/N7JnLhnFeCA')"
      >
        XEM VIDEO NGAY
      </button>
    </div>
    <div class="flex justify-center mt-[57px]">
      <div class="w-[286px] h-[1px] bg-black"></div>
    </div>
  </div>
  <div>
    <div class="flex w-full justify-center gap-[15px] mt-[70px]">
      <div>
        <img src="assets/introduce/1.svg" />
      </div>
      <div>
        <h6 class="font-bold text-[16px]">BẢO HÀNH</h6>
        <p class="mt-[14px] w-[275px]">
          Một số dịch vụ làm mới một phần hoặc toàn bộ giày sẽ được bảo hành ít
          nhất trong thời gian 2 tháng sử dụng
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center gap-[15px] mt-[70px]">
      <div>
        <img src="assets/introduce/1.svg" />
      </div>
      <div>
        <h6 class="font-bold text-[16px]">KỸ THUẬT VIÊN</h6>
        <p class="mt-[14px] w-[275px]">
          Chuyên nghiệp và kỹ lưỡng là những điều mà từng thành viên trong đội
          ngũ kỹ thuật viên thể hiện qua thành quả chăm sóc những đôi giày.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center gap-[15px] mt-[70px]">
      <div>
        <img src="assets/introduce/1.svg" />
      </div>
      <div>
        <h6 class="font-bold text-[16px]">GIÁ HỢP LÝ</h6>
        <p class="mt-[14px] w-[275px]">
          Chúng tôi chọn cách chăm sóc giày bằng tay bởi đó là cách tốt nhất giữ
          giày bền bỉ và sạch thực sự, với một mức phí dễ chịu.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center gap-[15px] mt-[70px]">
      <div>
        <img src="assets/introduce/1.svg" />
      </div>
      <div>
        <h6 class="font-bold text-[16px]">DỤNG CỤ CẦU KỲ</h6>
        <p class="mt-[14px] w-[275px]">
          Bàn chải lông ngựa, lông heo, khăn lông mềm và không ít các loại dung
          dịch vệ sinh được chọn mua trong và ngoài nước sẵn sàng cho việc đánh
          bay mọi vết bẩn.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center gap-[15px] mt-[70px]">
      <div>
        <img src="assets/introduce/1.svg" />
      </div>
      <div>
        <h6 class="font-bold text-[16px]">MÁY MÓC HIỆN ĐẠI</h6>
        <p class="mt-[14px] w-[275px]">
          Trang bị máy móc hiện đại để loại bỏ hầu hết độ ẩm, vi khuẩn gây mùi
          và lọc không khí, tạo môi trường hông khô giày hoàn hảo.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center gap-[15px] mt-[70px]">
      <div>
        <img src="assets/introduce/1.svg" />
      </div>
      <div>
        <h6 class="font-bold text-[16px]">GIỜ HOẠT ĐỘNG</h6>
        <p class="mt-[14px] w-[275px]">
          Kéo dài từ 9h - 21h mỗi ngày để phục vụ nhu cầu làm sạch giày của
          khách hàng.
        </p>
      </div>
    </div>
  </div>
</div>
<!--Tablet-->
<div class="w-full font-openSans text-[16px] hidden sm:block xl:hidden">
  <div
    class="h-[170px] relative w-full bg-no-repeat bg-cover bg-center bg-[url('assets/introduce/introduce.svg')] sm:h-[240px] xl:h-[320px]"
  >
    <div class="bg-black w-full h-full absolute top-0 opacity-20"></div>
    <span
      class="block absolute font-extrabold text-[32px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white sm:hidden"
      >GIỚI THIỆU</span
    >
    <div
      class="hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center absolute sm:block"
    >
      <div class="flex justify-center">
        <span [routerLink]="['/home-page']" class="font-semibold cursor-pointer"
          >Trang chủ</span
        >
        <img src="assets/cart/arrow-right.svg" alt="" class="ml-1" />
        <span class="block ml-1">Giới thiệu</span>
      </div>
      <div class="font-semibold text-[32px] mt-1 xl:text-[48px]">
        Giới thiệu
      </div>
    </div>
  </div>
  <div class="flex flex-col h-[507px]">
    <div class="flex items-center gap-[10%]">
      <div>
        <div class="ml-[78px]">
          <h6 class="mt-[72px] font-bold text-[24px]">
            Câu chuyện và sứ mệnh của
            <span class="font-playfairDisplay">ˈloomənəs</span>
          </h6>
          <p class="text-[16px] mt-[12px] w-[488px]">
            Là một spa chuyên nghiệp với dịch vụ chăm sóc và sửa chữa những đôi
            giày với kỹ thuật tay nghề cao, sự tỉ mỉ trong từng chi tiết để mang
            lại chất lượng phục vụ tốt nhất. Chúng tôi đang có các dịch vụ:
          </p>
        </div>
        <div class="text-[16px] mt-[44px] ml-[78px]">
          <div class="flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Vệ sinh giày bằng tay với hệ thống chiếu UV + hông khô hiện đại
            </p>
          </div>
          <div class="mt-[39px] flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Custom giày theo mẫu riêng biệt tùy vào yêu cầu
            </p>
          </div>
          <div class="mt-[43px] flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Bảo dưỡng sửa chữa, dán đế và nhiều dịch vụ chuyên dụng
            </p>
          </div>
          <div class="mt-[42px] flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Cung cấp các sản phẩm vệ sinh giày chuyên dụng
            </p>
          </div>
        </div>
      </div>
      <img class="mt-[50px]" src="assets/introduce/maygiat.svg" alt="" />
    </div>
  </div>
  <div class="bg-[#F6F6F6] flex flex-col h-[476px] mt-[50px]">
    <div class="flex justify-center gap-[215px]">
      <img
        class="w-[237px] h-[248px] mt-[114px]"
        src="assets/introduce/anh1.svg"
      />
      <div class="mt-[86px]">
        <h6 class="text-[24px] font-bold">Chúng tôi cam kết</h6>
        <div class="flex items-center mt-[48px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Kỹ thuật tay cao tỷ mỉ</p>
        </div>
        <div class="flex items-center mt-[23px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Dung dịch vệ sinh chọn lọc chất lượng</p>
        </div>

        <div class="flex items-center mt-[23px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Cung cấp sản phẩm chính hãng</p>
        </div>
        <div class="flex items-center mt-[23px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Bảo hành tuyệt đối</p>
        </div>

        <div class="flex items-center mt-[23px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Free ship và luôn sẵng lòng phục vụ</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="flex gap-[83px]">
        <div class="ml-[96px]">
          <h6 class="font-bold text-[24px] w-[427px] mt-[55px]">
            Trải nghiệm của một đôi giày ngay tại
            <span class="font-playfairDisplay">ˈloomənəs</span>
          </h6>
          <p class="mt-[31px] w-[427px]">
            Vệ sinh và chăm sóc giày là một công việc đòi hỏi người thực hiện am
            hiểu các chất liệu, kết cấu của giày và dành cho giày sự trân trọng
            cần thiết. Bằng niềm yêu thích đối, với văn hóa giày mà đội ngũ kỹ
            thuật của Lomenes luôn kỹ lưỡng khi cầm trên tay từng chiếc giày.
          </p>
          <button
            class="bg-[#F2ECBE] w-[267px] h-[72.55px] rounded-[10px] flex justify-center items-center font-semibold text-[16px] mt-[65px] ml-[66px]"
            (click)="openVideo('https://youtu.be/N7JnLhnFeCA')"
          >
            XEM VIDEO NGAY
          </button>
        </div>
        <div class="w-full flex justify-center mt-[66px] mr-[68px]">
          <img src="assets/introduce/video.svg" />
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-[156px]">
      <div class="w-[600px] h-[1.5px] bg-black"></div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-[140px] h-[593.5px]">
    <div class="text-[14px]">
      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[16px]">BẢO HÀNH</h6>
          <p class="mt-[14px] w-[283px]">
            Một số dịch vụ làm mới một phần hoặc toàn bộ giày sẽ được bảo hành
            ít nhất trong thời gian 2 tháng sử dụng
          </p>
        </div>
      </div>
      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[16px]">GIÁ HỢP LÝ</h6>
          <p class="mt-[14px] w-[283px]">
            Chúng tôi chọn cách chăm sóc giày bằng tay bởi đó là cách tốt nhất
            giữ giày bền bỉ và sạch thực sự, với một mức phí dễ chịu.
          </p>
        </div>
      </div>
      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[16px]">MÁY MÓC HIỆN ĐẠI</h6>
          <p class="mt-[14px] w-[283px]">
            Trang bị máy móc hiện đại để loại bỏ hầu hết độ ẩm, vi khuẩn gây mùi
            và lọc không khí, tạo môi trường hông khô giày hoàn hảo.
          </p>
        </div>
      </div>
    </div>
    <div class="text-[14px]">
      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[16px]">KỸ THUẬT VIÊN</h6>
          <p class="mt-[14px] w-[283px]">
            Chuyên nghiệp và kỹ lưỡng là những điều mà từng thành viên trong đội
            ngũ kỹ thuật viên thể hiện qua thành quả chăm sóc những đôi giày.
          </p>
        </div>
      </div>

      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[16px]">DỤNG CỤ CẦU KỲ</h6>
          <p class="mt-[14px] w-[283px]">
            Bàn chải lông ngựa, lông heo, khăn lông mềm và không ít các loại
            dung dịch vệ sinh được chọn mua trong và ngoài nước sẵn sàng cho
            việc đánh bay mọi vết bẩn.
          </p>
        </div>
      </div>

      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[16px]">GIỜ HOẠT ĐỘNG</h6>
          <p class="mt-[14px] w-[283px]">
            Kéo dài từ 9h - 21h mỗi ngày để phục vụ nhu cầu làm sạch giày của
            khách hàng.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Desktop-->
<div class="w-full font-openSans text-[20px] hidden xl:block">
  <div
    class="h-[170px] relative w-full bg-no-repeat bg-cover bg-center bg-[url('assets/introduce/introduce.svg')] sm:h-[240px] xl:h-[320px]"
  >
    <div class="bg-black w-full h-full absolute top-0 opacity-20"></div>
    <span
      class="block absolute font-extrabold text-[32px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white sm:hidden"
      >GIỚI THIỆU</span
    >
    <div
      class="hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center absolute sm:block"
    >
      <div class="flex justify-center">
        <span [routerLink]="['/home-page']" class="font-semibold cursor-pointer"
          >Trang chủ</span
        >
        <img src="assets/cart/arrow-right.svg" alt="" class="ml-1" />
        <span class="block ml-1">Giới thiệu</span>
      </div>
      <div class="font-semibold text-[32px] mt-1 xl:text-[48px]">
        Giới thiệu
      </div>
    </div>
  </div>
  <div class="h-[683px]">
    <div class="flex justify-center gap-[15%]">
      <div>
        <div>
          <h6 class="mt-[177px] font-bold text-[32px]">
            Câu chuyện và sứ mệnh của
            <span class="font-playfairDisplay">ˈloomənəs</span>
          </h6>
          <p class="mt-[12px] w-[650px]">
            Là một spa chuyên nghiệp với dịch vụ chăm sóc và sửa chữa những đôi
            giày với kỹ thuật tay nghề cao, sự tỉ mỉ trong từng chi tiết để mang
            lại chất lượng phục vụ tốt nhất. Chúng tôi đang có các dịch vụ:
          </p>
        </div>
        <div class="mt-[60px]">
          <div class="flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Vệ sinh giày bằng tay với hệ thống chiếu UV + hông khô hiện đại
            </p>
          </div>
          <div class="mt-[25px] flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Custom giày theo mẫu riêng biệt tùy vào yêu cầu
            </p>
          </div>
          <div class="mt-[25px] flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Bảo dưỡng sửa chữa, dán đế và nhiều dịch vụ chuyên dụng
            </p>
          </div>
          <div class="mt-[25px] flex items-center">
            <p>✓</p>
            <p class="ml-[12.7px]">
              Cung cấp các sản phẩm vệ sinh giày chuyên dụng
            </p>
          </div>
        </div>
      </div>
      <img class="mt-[250px]" src="assets/introduce/maygiat.svg" alt="" />
    </div>
  </div>
  <div class="bg-[#F6F6F6] flex flex-col h-[565px] mt-[50px]">
    <div class="flex justify-center gap-[20%]">
      <img
        class="w-[237px] h-[248px] mt-[148px]"
        src="assets/introduce/anh1.svg"
      />
      <div class="mt-[57px]">
        <h6 class="text-[32px] font-bold">Chúng tôi cam kết</h6>
        <div class="flex items-center mt-[48px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Kỹ thuật tay cao tỷ mỉ</p>
        </div>
        <div class="flex items-center mt-[49px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Dung dịch vệ sinh chọn lọc chất lượng</p>
        </div>

        <div class="flex items-center mt-[49px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Cung cấp sản phẩm chính hãng</p>
        </div>
        <div class="flex items-center mt-[49px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Bảo hành tuyệt đối</p>
        </div>

        <div class="flex items-center mt-[49px]">
          <p>✓</p>
          <p class="ml-[15.7px]">Free ship và luôn sẵng lòng phục vụ</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="flex justify-center gap-[15%]">
        <div>
          <h6 class="font-bold text-[32px] w-[466px] mt-[84px]">
            Trải nghiệm của một đôi giày ngay tại
            <span class="font-playfairDisplay">ˈloomənəs</span>
          </h6>
          <p class="mt-[31px] w-[531px]">
            Vệ sinh và chăm sóc giày là một công việc đòi hỏi người thực hiện am
            hiểu các chất liệu, kết cấu của giày và dành cho giày sự trân trọng
            cần thiết. Bằng niềm yêu thích đối, với văn hóa giày mà đội ngũ kỹ
            thuật của Lomenes luôn kỹ lưỡng khi cầm trên tay từng chiếc giày.
          </p>
          <button
            class="bg-[#F2ECBE] w-[267px] h-[72.55px] rounded-[10px] flex justify-center items-center font-semibold text-[20px] mt-[143px]"
            (click)="openVideo('https://youtu.be/N7JnLhnFeCA')"
          >
            XEM VIDEO NGAY
          </button>
        </div>
        <div class="flex mt-[106px] w-[474px] h-[474px]">
          <img src="assets/introduce/video.svg" />
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-[200px]">
      <div class="w-[867px] h-[1.5px] bg-black"></div>
    </div>
  </div>
  <div class="h-[450px]">
    <div class="text-[16px] flex justify-center">
      <div class="flex w-full justify-end gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[20px]">BẢO HÀNH</h6>
          <p class="mt-[14px] w-[300px]">
            Một số dịch vụ làm mới một phần hoặc toàn bộ giày sẽ được bảo hành
            ít nhất trong thời gian 2 tháng sử dụng
          </p>
        </div>
      </div>
      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[20px]">GIÁ HỢP LÝ</h6>
          <p class="mt-[14px] w-[300px]">
            Chúng tôi chọn cách chăm sóc giày bằng tay bởi đó là cách tốt nhất
            giữ giày bền bỉ và sạch thực sự, với một mức phí dễ chịu.
          </p>
        </div>
      </div>
      <div class="flex w-full justify-start gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[20px]">MÁY MÓC HIỆN ĐẠI</h6>
          <p class="mt-[14px] w-[300px]">
            Trang bị máy móc hiện đại để loại bỏ hầu hết độ ẩm, vi khuẩn gây mùi
            và lọc không khí, tạo môi trường hông khô giày hoàn hảo.
          </p>
        </div>
      </div>
    </div>
    <div class="text-[16px] flex">
      <div class="flex w-full justify-end gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[20px]">KỸ THUẬT VIÊN</h6>
          <p class="mt-[14px] w-[300px]">
            Chuyên nghiệp và kỹ lưỡng là những điều mà từng thành viên trong đội
            ngũ kỹ thuật viên thể hiện qua thành quả chăm sóc những đôi giày.
          </p>
        </div>
      </div>

      <div class="flex w-full justify-center gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[20px]">DỤNG CỤ CẦU KỲ</h6>
          <p class="mt-[14px] w-[310px]">
            Bàn chải lông ngựa, lông heo, khăn lông mềm và không ít các loại
            dung dịch vệ sinh được chọn mua trong và ngoài nước sẵn sàng cho
            việc đánh bay mọi vết bẩn.
          </p>
        </div>
      </div>

      <div class="flex w-full justify-start gap-[15px] mt-[70px]">
        <div>
          <img src="assets/introduce/1.svg" />
        </div>
        <div>
          <h6 class="font-bold text-[20px]">GIỜ HOẠT ĐỘNG</h6>
          <p class="mt-[14px] w-[250px]">
            Kéo dài từ 9h - 21h mỗi ngày để phục vụ nhu cầu làm sạch giày của
            khách hàng.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<Loomenes-footer></Loomenes-footer>
