<div class="mt-[250px] border-t border-black relative">
  <div class="text-center mt-24 sm:hidden">
    <img src="assets/footer/logo.svg" alt="" class="block mx-auto" />
    <div class="mt-8">
      <span class="font-semibold">LIÊN KẾT</span>
      <div class="text-[14px] mt-4">
        <a href="" class="block">Trang chủ</a>
        <a href="" class="block mt-3">Giới thiệu</a>
        <a href="" class="block mt-3">Sản phẩm</a>
        <a href="" class="block mt-3">Bài viết</a>
      </div>
    </div>
    <div class="mt-8">
      <span class="font-semibold">TRỢ GIÚP</span>
      <div class="text-[14px] mt-4">
        <a href="" class="block">Dịch vụ</a>
        <a href="" class="block mt-3">Chính sách</a>
        <a href="" class="block mt-3">Điều khoản</a>
      </div>
    </div>
    <div
      class="w-full pl-5 h-[60px] mt-8 bg-color-amber text-left leading-[60px]"
    >
      2023 Multimedia PTIT. All rights reverved
    </div>
  </div>
  <div
    class="absolute border left-1/2 -translate-x-1/2 -top-36 bg-white border-black h-[193px] w-[353px] rounded-2xl px-9 pt-6 pb-6 sm:hidden"
  >
    <span class="font-bold block">NHẬN THÔNG BÁO</span>
    <input
      type="email"
      class="text-[14px] mt-7 w-[286px] outline-none"
      placeholder="Nhập địa chỉ email của bạn"
    />
    <div class="h-[1px] bg-black mt-3"></div>
    <button class="mt-4 bg-color-amber px-8 py-2 rounded">Đăng ký</button>
  </div>
</div>
