<footer class="flex flex-col bg-white w-[1440px] h-[542px]">
  <div class="bg-black h-[1px]"></div>

  <div class="flex gap-[126px] justify-center mt-[66px]">
    <div>
      <h1 class="font-playfairDisplay text-[48px] font-bold">
        <a href="">ˈLoomənəs</a>
      </h1>
      <div class="mt-[55px]">
        <div class="text-[16px] text-color-gray hover:underline">
          <a href="">Km 10, đường Nguyễn Trãi, Quận Hà <br />Đông, Hà Nội</a>
        </div>
        <div class="text-[16px] text-color-gray hover:underline mt-[40px]">
          <a href="">loomenes@gmail.com</a>
        </div>
        <div class="text-[16px] text-color-gray hover:underline mt-[40px]">
          <a href="">(+84) 969.048.062</a>
        </div>
      </div>
    </div>

    <div>
      <h1 class="font-bold text-[16px] mt-[37px]">Liên kết</h1>
      <div class="mt-[60px] text-[16px]">
        <div class="hover:underline"><a href="">Trang chủ</a></div>
        <div class="hover:underline mt-[52px]"><a href="">Trang chủ</a></div>
        <div class="hover:underline mt-[52px]"><a href="">Trang chủ</a></div>
        <div class="hover:underline mt-[52px]"><a href="">Trang chủ</a></div>
      </div>
    </div>

    <div>
      <h1 class="font-bold text-[16px] mt-[37px]">Trợ giúp</h1>
      <div class="mt-[60px] text-[16px]">
        <div class="hover:underline"><a href="">Dịch vụ</a></div>
        <div class="hover:underline mt-[52px]"><a href="">Chính sách</a></div>
        <div class="hover:underline mt-[52px]"><a href="">Điều khoản</a></div>
      </div>
    </div>

    <div>
      <h1 class="font-bold text-[16px] mt-[37px]">Nhận thông báo</h1>
      <div class="mt-[60px] text-[16px] flex items-center gap-[37px]">
        <input class="w-[210px] h-[38px] border-b-[1px] border-black cursor-pointer focus:outline-none" type="text" placeholder="Nhập địa chỉ email của bạn">
        <button class="w-[130px] h-[52px] bg-color-amber flex justify-center items-center text-[14px] font-semibold rounded-[10px] hover:bg-color-amberGray">Đăng ký</button>
      </div>
    </div>

  </div>

  <div class="mt-[64px] flex justify-center items-center gap-[682px]">
    <p class="text-[16px]">2023 Multimedia PTIT. All rights reverved</p>
    <p class="flex items-center gap-[59px]">
      <a href=""><img [src]="iconExApp[0]"></a>
      <a href=""><img [src]="iconExApp[1]"></a>
      <a href=""><img [src]="iconExApp[2]"></a>
    </p>
  </div>

</footer>
