<div
  class="mt-[250px] border-t border-black relative lg:mt-[120px] font-openSans"
>
  <div class="text-center mt-24 lg:hidden">
    <img src="assets/footer/logo.svg" alt="" class="block mx-auto" />
    <div class="mt-8">
      <span class="font-semibold">LIÊN KẾT</span>
      <div class="text-[14px] mt-4">
        <a href="" class="block">Trang chủ</a>
        <a href="" class="block mt-3">Giới thiệu</a>
        <a href="" class="block mt-3">Sản phẩm</a>
        <a href="" class="block mt-3">Bài viết</a>
      </div>
    </div>
    <div class="mt-8">
      <span class="font-semibold">TRỢ GIÚP</span>
      <div class="text-[14px] mt-4">
        <a href="" class="block">Dịch vụ</a>
        <a href="" class="block mt-3">Chính sách</a>
        <a href="" class="block mt-3">Điều khoản</a>
      </div>
    </div>
    <div
      class="w-full pl-5 h-[60px] mt-8 bg-color-amber text-left leading-[60px]"
    >
      2023 Multimedia PTIT. All rights reverved
    </div>
  </div>
  <div
    class="absolute border left-1/2 -translate-x-1/2 -top-36 bg-white border-black h-[193px] w-[353px] rounded-2xl px-9 pt-6 pb-6 lg:hidden"
  >
    <span class="font-bold block">NHẬN THÔNG BÁO</span>
    <input
      type="email"
      class="text-[14px] mt-7 w-[286px] outline-none"
      placeholder="Nhập địa chỉ email của bạn"
    />
    <div class="h-[1px] bg-black mt-3"></div>
    <button class="mt-4 bg-color-amber px-8 py-2 rounded">Đăng ký</button>
  </div>

  <div class="hidden mx-[60px] my-10 font-openSans lg:block xl:mx-[120px]">
    <div class="flex justify-between items-start">
      <div class="w-[320px] text-color-gray xl:w-[340px]">
        <img src="assets/footer/logo.svg" alt="" class="h-[52px] w-[150px]" />
        <span class="mt-10 block"
          >Km 10, đường Nguyễn Trãi, Quận Hà<br />
          Đông, Hà Nội
        </span>
        <span class="block mt-4">loomenes@gmail.com</span>
        <span class="block mt-12">(+84) 969.048.062</span>
      </div>
      <div class="">
        <span class="font-bold">Liên kết</span>
        <div class="mt-[56px]">
          <a href="" class="block">Trang chủ</a>
          <a href="" class="block mt-12">Giới thiệu</a>
          <a href="" class="block mt-12">Sản phẩm</a>
          <a href="" class="block mt-12">Bài viết</a>
        </div>
      </div>
      <div class="">
        <span class="font-bold">Trợ giúp</span>
        <div class="mt-[56px]">
          <a href="" class="block">Dịch vụ</a>
          <a href="" class="block mt-12">Chính sách</a>
          <a href="" class="block mt-12">Điều khoản</a>
        </div>
      </div>
      <div class="">
        <span class="font-bold">Nhận thông báo</span>
        <div class="mt-[56px] xl:mt-[24px] xl:flex items-end">
          <div class="">
            <input
              type="email"
              class="w-[180px] outline-none text-[14px] text-color-gray"
              placeholder="Nhập địa chỉ email của bạn"
            />
            <div class="h-[1px] w-[180px] bg-black mt-3"></div>
          </div>
          <button
            class="float-right mt-6 text-[14px] font-semibold w-[125px] h-12 bg-color-amber rounded hover:bg-color-amberGray transition xl:ml-10"
          >
            Đăng ký
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center mt-[60px]">
      <span class="block">2023 Multimedia PTIT. All rights reverved</span>
      <div class="flex items-center">
        <a href="" class="mr-16 block"
          ><img src="assets/footer/facebook-icon.svg" alt=""
        /></a>
        <a href="" class="mr-16 block"
          ><img src="assets/footer/instagram-icon.svg" alt=""
        /></a>
        <a href=""><img src="assets/footer/youtube-icon.svg" alt="" /></a>
      </div>
    </div>
  </div>
</div>
