<Loomenes-header-navigator></Loomenes-header-navigator>
<div>
    <div
    class="h-[170px] relative w-full bg-no-repeat bg-cover bg-center bg-[url('assets/cart/cart-banner.svg')] sm:h-[240px] xl:h-[320px]"
    >
    <div class="bg-black w-full h-full absolute top-0 opacity-20"></div>
    <span
      class="block absolute font-extrabold text-[32px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white sm:hidden"
      >GIỎ HÀNG</span
    >
    <div
      class="hidden top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center absolute sm:block"
    >
      <div class="flex justify-center">
        <span [routerLink]="['/home-page']" class="font-semibold cursor-pointer"
          >Trang chủ</span
        >
        <img src="assets/cart/arrow-right.svg" alt="" class="ml-1" />
        <span class="block ml-1">Giới thiệu</span>
      </div>
      <div class="font-semibold text-[32px] mt-1 xl:text-[48px]">Giới thiệu</div>
    </div>
    </div>
</div>

<Loomenes-footer></Loomenes-footer>