<div class="relative h-[113px] px-5 w-full">
  <img
  [routerLink]="['/blog-page']"
    src="assets/blog/Return_icon.svg"
    alt=""
    class="absolute top-1/2 -translate-y-1/2 ml-[335px]"
  />
  <div
    *ngIf="isOpenedMenu"
    class="absolute top-0 left-0 h-[448px] bg-[#3E3E3E] w-full pl-5 pt-11 text-white font-bold text-[14px] z-10 sm:pl-10 xl:hidden"
  >
    <img (click)="onToggleMenu()" src="assets/header/close.svg" alt="" />
    <a [routerLink]="['/home-page']" class="mt-9 block">Trang chủ</a>
    <a href="" class="mt-9 block">Giới thiệu</a>
    <a [routerLink]="['/service-page']" class="mt-9 block">Dịch vụ</a>
    <a href="" class="mt-9 block">Sản phẩm</a>
    <a [routerLink]="['/blog-page']" class="mt-9 block">Bài viết</a>
    <a href="" class="mt-9 block">Đặt lịch</a>
  </div>
  <img
  (click)="onToggleMenu()"
    src="assets/blog/menu_icon.svg"
    alt=""
    class="absolute top-1/2 -translate-y-1/2"
  />
</div>
<div class="px-5">
  <img src="assets/blog/bg_img.svg" alt="" class="" />
  <p class="font-bold text-base mt-[20px]">
    Vệ sinh chuyên sâu đôi giày của bạn
  </p>
  <div class="flex relative mt-[5px] w-full">
    <div class="flex absolute w-[100px]">
      <img src="assets/blog/lich_gray.svg" alt="" class="" />
      <p class="text-gray-400 ml-[8.67px] text-[12px]">03 Aug 2022</p>
    </div>
    <div class="flex absolute w-25 ml-[125px]">
      <img src="assets/blog/admin_gray.svg" alt="" class="" />
      <p class="text-[12px] ml-[8.67px] text-gray-400">Admin</p>
    </div>
    <div class="mt-[30px]">
      <p class="text-gray-400 text-[12px]">
        Đôi giày không chỉ là phần của trang phục mà còn là biểu tượng cá nhân
        của chúng ta. Để giữ cho đôi giày luôn sạch sẽ, bền đẹp và tự tin mỗi
        khi mang đi bước chân, việc thực hiện vệ sinh chuyên sâu đôi giày là cực
        kỳ quan trọng. <br />
        Bước đầu tiên của việc vệ sinh chuyên sâu là loại bỏ bụi và bẩn từ bề
        mặt. Dùng một bàn chải mềm hoặc khăn khô để nhẹ nhàng lau sạch mọi vết
        bẩn, đồng thời loại bỏ cặn bẩn từ các khe hở hay các góc khuất của giày.
        Sau đó, chúng ta tiến hành làm sạch bề mặt của đôi giày. <br />
        Sử dụng khăn ẩm hoặc bông mềm được ngâm trong nước ấm để lau sạch từng
        phần của giày. Đối với vết bẩn cứng đầu, có thể sử dụng một ít xà phòng
        nhẹ hoặc sản phẩm vệ sinh giày chuyên dụng để giúp làm sạch hiệu quả
        hơn. <br />
        Đế giày, nơi tiếp xúc trực tiếp với mặt đất, cần được làm sạch cẩn thận.
        Sử dụng bàn chải hoặc bông lau để loại bỏ vết bẩn cứng đầu trên đế giày.
        Nếu có vết nhọt hay vật thể lạ dính vào đế, hãy loại bỏ chúng cẩn thận
        để giữ cho đế giày luôn sạch và bền bỉ. <br />
        Sau khi làm sạch, hãy để đôi giày tự nhiên khô hoặc sử dụng miếng vải
        khô để lau khô chúng. Tránh phơi giày trực tiếp dưới ánh nắng mặt trời
        hoặc các nguồn nhiệt khác có thể làm hỏng vật liệu của giày. Cuối cùng,
        khi đã làm sạch và khô, hãy bảo quản đôi giày của bạn ở nơi thoáng đãng,
        khô ráo và tránh đặt chúng trong môi trường ẩm ướt hoặc có nhiệt độ cao.
        <br />
        Nhớ rằng việc vệ sinh định kỳ sẽ giữ cho đôi giày của bạn luôn ở trạng
        thái tốt nhất có thể. Điều này không chỉ giữ cho chúng sạch sẽ mà còn
        kéo dài tuổi thọ và giữ được vẻ đẹp tự nhiên của chúng. Chăm sóc và vệ
        sinh đúng cách sẽ giúp bạn luôn tự tin mỗi khi bước ra ngoài cùng đôi
        giày yêu thích của mình
      </p>
      <!-- baivietganday -->
      <p class="mt-[19px] font-bold text-base">Bài viết gần đây</p>
      <div class="mt-[6px] w-full relative">
        <!-- ganday1 -->
        <div class="relative mt-[12px] w-full h-[92px] bg-zinc-50 rounded-xl">
          <img
            src="assets/blog/giayda.svg"
            alt=""
            class="absolute top-1/2 -translate-y-1/2 left-[9px]"
          />
          <div class="absolute ml-[101px]">
            <p class="text-[12px] mt-[17px] font-semibold">
              Các mẫu giày tây thường gặp
            </p>
            <div class="mt-[30px] flex text-gray-400">
              <div class="flex">
                <img src="assets/blog/lich_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px]">03 Aug 2022</p>
              </div>
              <div class="flex ml-[70px]">
                <img src="assets/blog/admin_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px] right-[24px]">Admin</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ganday2 -->
        <div class="relative mt-[21px] w-full h-[92px] rounded-xl">
          <img
            src="assets/blog/dungdichvsgiay.svg"
            alt=""
            class="absolute top-1/2 -translate-y-1/2 left-[9px]"
          />
          <div class="absolute ml-[101px]">
            <p class="font-semibold text-[12px] mt-[17px]">
              4 loại nước giặt ai cũng nên có
            </p>
            <div class="mt-[30px] flex text-gray-400">
              <div class="flex">
                <img src="assets/blog/lich_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px]">03 Aug 2022</p>
              </div>
              <div class="flex ml-[70px]">
                <img src="assets/blog/admin_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px] right-[24px]">Admin</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ganday3 -->
        <div class="relative mt-[21px] w-full h-[92px] bg-zinc-50 rounded-xl">
          <img
            src="assets/blog/ddvs1.svg"
            alt=""
            class="absolute top-1/2 -translate-y-1/2 left-[9px]"
          />
          <div class="absolute ml-[101px]">
            <p class="font-semibold text-[12px] mt-[17px]">
              Những điều bạn chưa biết về chai vệ sinh giày?
            </p>
            <div class="mt-[30px] flex text-gray-400">
              <div class="flex">
                <img src="assets/blog/lich_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px]">03 Aug 2022</p>
              </div>
              <div class="flex ml-[70px]">
                <img src="assets/blog/admin_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px] right-[24px]">Admin</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ganday4 -->
        <div class="relative mt-[21px] w-full h-[92px] rounded-xl">
          <img
            src="assets/blog/Tet.svg"
            alt=""
            class="absolute top-1/2 -translate-y-1/2 left-[9px]"
          />
          <div class="absolute ml-[101px]">
            <p class="font-semibold text-[12px] mt-[17px]">
              Lịch hoạt động Tết nguyên đán 2023
            </p>
            <div class="mt-[30px] flex text-gray-400">
              <div class="flex">
                <img src="assets/blog/lich_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px]">03 Aug 2022</p>
              </div>
              <div class="flex ml-[70px]">
                <img src="assets/blog/admin_gray.svg" alt="" class="" />
                <p class="text-[12px] ml-[8.67px] right-[24px]">Admin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Xemthem -->
      <div class="flex justify-center mt-[30px]">
        <img src="assets/blog/xemthembt.svg" alt="" class="" />
      </div>
      <!-- follow -->
      <div class="w-full mt-[50px]">
        <h1 class="text-[24px] font-bold text-center">Follow Us</h1>
        <div class="flex mt-[18px]">
          <img src="assets/blog/icon_fb.svg" alt="" class="ml-[36px]" />
          <img src="assets/blog/ig_icon.svg" alt="" class="ml-[66px]" />
          <img src="assets/blog/iconytb.svg" alt="" class="ml-[66px]" />
        </div>
      </div>
    </div>
  </div>
</div>
<Loomenes-footer></Loomenes-footer>
