<header>
  <div class="flex relative">
    <img class="w-[1903px] h-[1106.84px]" [src]="imgBaners" />
    <div class="absolute w-full h-[1106.84px] bg-black bg-opacity-40"></div>
    <div class="absolute text-white mt-[470px] ml-[346px]">
      <h1 class="font-playfairDisplay font-bold text-[27px]">ˈLoomənəs</h1>
      <h1 class="font-extrabold text-[70px]">SẠCH SẼ</h1>
      <h1 class="font-extrabold text-[70px]">SÁNG BÓNG</h1>
      <br />
      <h1 class="font-semibold text-[24px]">
        Dịch vụ giặt giày chất lượng, để bước chân của bạn luôn tự tin
      </h1>
      <h1 class="font-semibold text-[24px]">trên mọi nẻo đường</h1>
      <button
        class="border-2 border-color-amber rounded-[10px] w-[358px] h-[96px] font-bold text-[21px] text-color-amber uppercase mt-[64px] hover:bg-color-amber hover:text-color-boldYellow"
      >
        Đặt lịch ngay
      </button>
    </div>
  </div>
</header>

<div class="bg-white h-[1043.86px] flex flex-col items-center">
  <h1 class="capitalize font-bold text-[64.32px] mt-[89.78px]">
    Lý Do Chọn ˈLoomənəs
  </h1>
  <h1 class="font-semibold text-center text-[26.8x] mt-[38.86px]">
    Với 4 năm kinh nghiệm trong lĩnh vực vệ sinh và phục chế, sửa chữa giày đồ
    hiệu, ˈloomənəs cam kết mang <br />lại cho khách hàng trải nghiệm dịch vụ
    tốt nhất
  </h1>

  <div class="flex justify-center items-center gap-[223.78px] mt-[176.88px]">
    <div class="flex flex-col items-center">
      <img class="" [src]="stickerBag" />
      <h1 class="text-center font-semibold text-[26.8px] mt-[123.28px]">
        Hơn 100.00+ sản phẩm đã <br />được bán
      </h1>
    </div>
    <div class="flex flex-col items-center">
      <img [src]="stickerPackage" />
      <h1 class="text-center font-semibold text-[26.8px] mt-[123.28px]">
        Tiện ích giao nhận 2 chiều tiện <br />lợi,giao và nhận đồ tại nhà
      </h1>
    </div>
    <div class="flex flex-col items-center">
      <img [src]="stickerShoe" />
      <h1 class="text-center font-semibold text-[26.8px] mt-[123.28px]">
        Hơn 300.000 + đôi giày <br />đã được vệ sinh
      </h1>
    </div>
  </div>
</div>

<div class="h-[410px] flex justify-center">
  <img class="absolute h-[410px] w-[1440px]" [src]="bns" />
  <div class="h-[410px] absolute flex items-center justify-center gap-[189px]">
    <div class="text-center font-openSans">
      <h1 class="text-[36px] font-semibold font-playfairDisplay">ˈLoomənəs</h1>
      <h1 class="text-[48px] font-bold uppercase mt-[26px]">TƯ VẤN MIỄN PHÍ</h1>
      <h1 class="text-[40px] font-semibold capitalize mt-[22px]">
        Sửa Chữa, Phục Hồi, Custom Giày
      </h1>
      <button
        class="w-[549.4px] h-[96.48px] rounded-[10px] bg-white font-semibold text-[32.16px] uppercase mt-[56.28px] hover:text-white hover:bg-black"
      >
        CHAT NGAY
      </button>
    </div>

    <div
      class="h-[471.68px] scrollbar-thin scrollbar-thumb-color-dirtyYellow scrollbar-track-white overflow-y-auto pr-[9.38px] cursor-pointer"
      #scrollBox
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp()"
      (mousemove)="onMouseMove($event)"
      (mouseleave)="onMouseLeave()"
    >
      <img [src]="scroll_box_img1" draggable="false" />
      <img [src]="scroll_box_img2" draggable="false" />
      <img [src]="scroll_box_img3" draggable="false" />
      <img [src]="scroll_box_img4" draggable="false" />
    </div>
    
  </div>
</div>

<div class="h-[1197.96px] flex flex-col items-center bg-white">
  <div class="text-center mt-[123.28px]">
    <h1 class="font-bold text-[64.32px]">Dịch vụ</h1>
    <h1 class="font-semibold text-[48.32px] text-color-amberGray mt-[21.44px]">
      Preview
    </h1>
  </div>

  <div
    class="whitespace-nowrap w-[1547.7px] h-[317.58px] overflow-hidden mt-[67px]"
    #serviceBox
  >
    <div class="relative inline-block w-[473.02] h-[317.58px] cursor-pointer">
      <img
        class="absolute rounded-[10px] w-[473.02] h-[317.58px]"
        [src]="serviceImgs[0]"
      />
      <div
        class="group absolute w-[353px] h-[237px] flex justify-center items-center rounded-[10px]"
      >
        <div
          class="rounded-[10px] w-[353px] h-[237px] bg-black bg-opacity-40 transform group-hover:translate-y-[249px] transition duration-300"
        ></div>
        <h1
          class="absolute font-bold text-[36px] text-color-amberGray text-center"
        >
          CHUYÊN SÂU
        </h1>
      </div>
    </div>
    
    <div class="inline-block w-[48px]"></div>
    <div class="relative inline-block w-[353px] h-[237px] cursor-pointer">
      <img
        class="absolute rounded-[10px] w-[353px] h-[237px]"
        [src]="serviceImgs[1]"
      />
      <div
        class="group absolute w-[353px] h-[237px] flex justify-center items-center  rounded-[10px]"
      >
        <div
          class="rounded-[10px] w-[353px] h-[237px] bg-black bg-opacity-40 transform group-hover:translate-y-[249px] transition duration-300"
        ></div>
        <h1
          class="absolute font-bold text-[36px] text-color-amberGray uppercase text-center"
        >
          Sửa đóng<br />đế giày âu
        </h1>
      </div>
    </div>
    <div class="inline-block w-[48px]"></div>
    <div class="relative inline-block w-[353px] h-[237px] cursor-pointer">
      <img
        class="absolute rounded-[10px] w-[353px] h-[237px]"
        [src]="serviceImgs[2]"
      />
      <div
        class="group absolute w-[353px] h-[237px] flex justify-center items-center  rounded-[10px]"
      >
        <div
          class="rounded-[10px] w-[353px] h-[237px] bg-black bg-opacity-40 transform group-hover:translate-y-[249px] transition duration-300"
        ></div>
        <h1
          class="absolute font-bold text-[36px] text-color-amberGray uppercase text-center"
        >
          Custom Giày
        </h1>
      </div>
    </div>
    <div class="inline-block w-[48px]"></div>
    <div class="relative inline-block w-[353px] h-[237px] cursor-pointer">
      <img
        class="absolute rounded-[10px] w-[353px] h-[237px]"
        [src]="serviceImgs[3]"
      />
      <div
        class="group absolute w-[353px] h-[237px] flex justify-center items-center  rounded-[10px]"
      >
        <div
          class="rounded-[10px] w-[353px] h-[237px] bg-black bg-opacity-40 transform group-hover:translate-y-[249px] transition duration-300"
        ></div>
        <h1
          class="absolute font-bold text-[36px] text-color-amberGray uppercase text-center"
        >
          Sửa đế giày
        </h1>
      </div>
    </div>
    <div class="inline-block w-[48px]"></div>
    <div class="relative inline-block w-[353px] h-[237px] cursor-pointer">
      <img
        class="absolute rounded-[10px] w-[353px] h-[237px]"
        [src]="serviceImgs[4]"
      />
      <div
        class="group absolute w-[353px] h-[237px] flex justify-center items-center  rounded-[10px]"
      >
        <div
          class="rounded-[10px] w-[353px] h-[237px] bg-black bg-opacity-40 transform group-hover:translate-y-[249px] transition duration-300"
        ></div>
        <h1
          class="absolute font-bold text-[36px] text-color-amberGray uppercase text-center"
        >
          Sơn giày
        </h1>
      </div>
    </div>
    <div class="inline-block w-[48px]"></div>
    <div class="relative inline-block w-[353px] h-[237px] cursor-pointer">
      <img
        class="absolute rounded-[10px] w-[353px] h-[237px]"
        [src]="serviceImgs[5]"
      />
      <div
        class="group absolute w-[353px] h-[237px] flex justify-center items-center  rounded-[10px]"
      >
        <div
          class="rounded-[10px] w-[353px] h-[237px] bg-black bg-opacity-40 transform group-hover:translate-y-[249px] transition duration-300"
        ></div>
        <h1
          class="absolute font-bold text-[36px] text-color-amberGray uppercase text-center"
        >
          vệ sinh<br />nâng cao
        </h1>
      </div>
    </div>
  </div>

  <div class="flex font-semibold text-[20px] gap-[138px] mt-[74px]">
    <button
      class="bg-color-amber rounded-[10px] w-[98px] h-[60px] hover:bg-color-amberGray"
      (click)="prevServiceBox()"
    >
      Trước
    </button>
    <button
      class="bg-color-amber rounded-[10px] w-[98px] h-[60px] hover:bg-color-amberGray"
      (click)="nextServiceBox()"
    >
      Sau
    </button>
  </div>
  <button
    class="bg-color-amber rounded-[10px] w-[334px] h-[72px] flex justify-center items-center gap-[10px] mt-[81px] hover:bg-color-amberGray"
  >
    <img [src]="iconMenuBook" />
    <p class="font-semibold text-[24px]">BẢNG GIÁ DỊCH VỤ</p>
  </button>
</div>

<div class="flex flex-col items-center h-[894px] bg-white">
  <h1 class="text-[48px] font-bold mt-[81px]">SẢN PHẨM NỔI BẬT</h1>
  <div class="w-[313px] h-[3px] bg-black mt-[26px]"></div>

  <div class="whitespace-nowrap w-[1156px] h-[427px] overflow-hidden mt-[74px]">
    <div class="inline-block w-[337px] h-[337px] cursor-pointer">
      <img [src]="product[0]" class="w-[337px] h-[337px]">
      <h1 class="text-center font-semibold text-[28px]">Dung dịch vệ sinh giày<br>Cure Crep</h1>
    </div>
    <div class="inline-block w-[74px]"></div>
    <div class="inline-block w-[337px] h-[337px] cursor-pointer">
      <img [src]="product[1]" class="w-[337px] h-[337px]">
      <h1 class="text-center font-semibold text-[28px]">Bàn chải đế cao su<br>Timberland</h1>
    </div>
    <div class="inline-block w-[74px]"></div>
    <div class="inline-block w-[337px] h-[337px] cursor-pointer">
      <img [src]="product[2]" class="w-[337px] h-[337px]">
      <h1 class="text-center font-semibold text-[28px]">Bộ làm sạch giày thể thao<br>Angelus Foam Tex</h1>
    </div>
    <div class="inline-block w-[74px]"></div>
    <div class="inline-block w-[337px] h-[337px] cursor-pointer">
      <img [src]="product[3]" class="w-[337px] h-[337px]">
      <h1 class="text-center font-semibold text-[28px]">Sản phẩm chăm sóc<br>giày dầu sáp ECCO</h1>
    </div>
    <div class="inline-block w-[74px]"></div>
    <div class="inline-block w-[337px] h-[337px] cursor-pointer">
      <img [src]="product[4]" class="w-[337px] h-[337px]">
      <h1 class="text-center font-semibold text-[28px]">Miếng bọt biển đánh<br>giày KIWI Express</h1>
    </div>
    <div class="inline-block w-[74px]"></div>
    <div class="inline-block w-[337px] h-[337px] cursor-pointer">
      <img [src]="product[5]" class="w-[337px] h-[337px]">
      <h1 class="text-center font-semibold text-[28px]">Chất tẩy rửa giày<br>KIWI</h1>
    </div>
  </div>
</div>
