<header class="flex justify-center items-center h-[147px] w-[1903px]">
  <nav class="flex items-center gap-[91px]">
    <a href="" class="mr-[142px] font-playfairDisplay font-bold text-[43px]"
      >ˈLoomənəs</a
    >
    <ul
      class="flex items-center gap-[80px] font-openSans font-semibold text-[21px]"
    >
      <li class=""><a href="#">Trang chủ</a></li>
      <li class=""><a href="#">Giới thiệu</a></li>
      <li class=""><a href="#">Dịch vụ</a></li>
      <li class=""><a href="#">Sản phẩm</a></li>
      <li class=""><a href="#">Bài viết</a></li>
    </ul>
    <a href="">
      <img class="ml-[307px]" [src]="shopping_cart_path" />
    </a>
  </nav>
</header>
